{% extends "layout.html" %}
{% block title %}Kurssit{% endblock %}
{% block content %}

<form class="aligned-right" action="/courses" method="POST">
    <label></label><input type="text" name="search">
    <input type="submit" value="Hae">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>

{% for course in courses %}
<div class="container-course">
    <a href="/course/{{course.id}}">
        {{ course.subject }}
    </a><br>
    <i>{{ course.description }}</i><br>
    {{ course.first_name }} {{course.last_name}}<br>
    <b>{{ course.exercises }} tehtävää</b>
    <a href="/course/{{course.id}}/confirm" class="float-right">
        Ilmoittaudu
    </a>
</div>
{% endfor %}

{% endblock %}