{% extends "layout.html" %}
{% block title %}Muokkaa kurssia{% endblock %}
{% block content %}

<h2>{{ course.subject }}</h2>
<div style="margin-left: 20px;">
    <i>{{ course.description }}</i><br>
    <b>{{ exercises }} tehtävää</b>
    {% if course.visible %}
    <a href="/course/{{course_id}}/remove" style="float: right;">Piilota</a>
    {% else %}
    <a href="/course/{{course_id}}/restore" style="float: right;">Palauta</a>
    {% endif %}
</div>
<hr>
<h3>Kurssin tehtävät</h3>
<div class="container">
    <table>
        <th class="first-column">Perusmuoto</th>
        <th colspan=2>Taivutus</th>
        {% for question in course_questions %}
        <tr>
            <td>{{ question.lemma }}</td>
            <td>{{ question.inflection }}</td>
            {% if question.answers == 0 %}
            <td><a href="/course/{{course_id}}/question/{{question.id}}/remove">Poista</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>

<h3>Lisää kurssille uusi tehtävä</h3>

<datalist id="lemmas">
    {% for word in words %}
    <option value={{word.lemma}}>
        {% endfor %}
</datalist>

<div class="container">
    <table>
        <form action="/course/{{course_id}}/edit/add" method="POST">
            <tr>
                <td><label>Perusmuoto</label></td>
                <td><input list="lemmas" type="text" name="lemma"></td>
                <td><label>Määritelmä</label></td>
            </tr>
            <tr>
                <td><label>Taivutus</label></td>
                <td><input type="text" name="inflection"></td>
                <td rowspan="2">
                    {% for definition in definitions %}
                    <input type="radio" id={{definition.definition}} name="definition"
                        value="{{ definition.definition }}">
                    <label class="font-normal" for="{{ definition.definition }}">{{ definition.definition }}</label><br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Lisää tehtävä"></td>
                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
            </tr>
        </form>
    </table>
</div>

<h3>Muokkaa kurssin tietoja</h3>
<div class="container">
    <table>
        <form action="/course/{{course_id}}/edit/change" method="POST">
            <tr>
                <td><label>Otsikko</label></td>
                <td><input type="text" name="subject" size="54"></td>
            </tr>
            <tr>
                <td><label>Kuvaus</label></td>
                <td><textarea name="description" cols="50" rows="4" scrolling="no"></textarea>
            </tr>
            <tr>
                <td></td>
                <td class="aligned-right"><input type="submit" value="Lähetä"></td>
            </tr>
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    </table>
</div>

{% endblock %}