<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dawning of a New Day" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<title>Kielioppikone - {% block title %}{% endblock %}</title>

<body>
    <div class="login-info">
        {% if session.user_id %}
        <div><a href="/profile/{{session.user_id}}"><i>{{ session.username }}</i></a></div>

        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <a href="/login">Kirjaudu</a>
        <br>
        <a href="/register">Rekisteröidy</a>
        {% endif %}
    </div>
    <div class="header-main">Kielioppikone</div>
    <div class="nav-link"><a href="/">Etusivu</a></div>
    <div class="nav-link"><a href="/courses">Kurssit</a></div>
    <hr>
    {% block content %}{% endblock %}
</body>