{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}

{% if is_user %}
<h3>Tilasto (kaikki kurssit)</h3>
<div class="container">
    Olet vastannut oikein {{ correct }} kertaa.<br>
    Olet vastannut väärin {{ incorrect }} kertaa.<br>
    Vastauksistasi {{ success }} % on oikein.<br>
</div>
{% endif %}

{% if is_teacher %}
<h3>Lisää uusi kurssi</h3>
<div class="container">
    <table>
        <form action="/courses/add" method="POST">
            <tr>
                <td><label for="subject">Otsikko</label></td>
                <td><input type="text" id="subject" name="subject" size="54"></td>
            </tr>
            <tr>
                <td><label for="description">Kuvaus</label></td>
                <td><textarea id="description" name="description" cols="50" rows="4" scrolling="no"></textarea>
            </tr>
            <tr>
                <td></td>
                <td class="aligned-right"><input type="submit" value="Lähetä"></td>
            </tr>
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
        </form>
    </table>
</div>
{% endif %}

<h3>Omat kurssisi</h3>
{% if is_teacher %}
{% for course in courses %}
{% if course.visible %}
<div class="container">
    <a href="/course/{{course.id}}">
        {{ course.subject }}
    </a><br>
    {{ course.description }}<br>
    <b>{{ course.exercises }} tehtävää</b><br>
    <a href="/course/{{course.id}}/pupils">
        Osallistujat
    </a>
    <a href="/course/{{course.id}}/edit" class="float-right">
        Muokkaa
    </a>
</div>
{% else %}
<div class="container-inactive">
    <a href="/course/{{course.id}}">
        {{ course.subject }}
    </a><br>
    {{ course.description }}<br>
    <b>{{ course.exercises }} tehtävää</b><br>
    <a href="/course/{{course.id}}/pupils">
        Osallistujat
    </a>
    <a href="/course/{{course.id}}/edit" class="float-right">
        Muokkaa
    </a>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% if is_user %}
{% for course in courses %}
<div class="container">
    <a href="/course/{{course.id}}">
        {{ course.subject }}
    </a><br>
    {{ course.description }}<br>
    <b>{{ course.exercises }} tehtävää</b>
    <a href="/course/{{course.id}}/statistics/{{user}}" class="float-right">
        Tilastoja
    </a>
</div>
{% endfor %}
{% endif %}

{% endblock %}