{% extends "layout.html" %}
{% block title %}Profiili{% endblock %}
{% block content %}

<div class="container">
    {% for course in courses %}
    <p>
        <a href="/course/{{ course.id }}">{{ course.subject }}</a><br>
        {{ course.description }}<br>
        {% if is_teacher %}
        <a href="/course/{{ course.id }}/edit">Muokkaa</a>
        {% elif is_admin %}
        <div>Hallintanäkymä</div>
        {% else %}
        <div>Tilastoja</div>
        {% endif %}
    </p>
    {% endfor %}
{% endblock %}