{% extends "layout.html" %}
{% block title %}Osallistujat{% endblock %}
{% block content %}

<div class="container">
    <table style="padding: 10px;">
        <tr>
            <th class="first-column">Nimi</th>
            <th class="second-column">Liittynyt</th>
            <th class="aligned-right">Vastauksia</th>
        </tr>
        {% for pupil in pupils_list %}
        <tr>
            <td>
                <a href="/course/{{course_id}}/statistics/{{pupil.user_id}}">
                    {{ pupil.first_name }} {{ pupil.last_name }}
                </a>
            </td>
            <td>{{ pupil.entered | format_date }}</td>
            <td class="aligned-right">{{ pupil.count }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/profile/{{user_id}}">
        Takaisin
    </a>
</div>

{% endblock %}