{% extends "simple.html" %}

{% block content %}

<div class="question-container">
    <table>
        <th>Perusmuoto</th>
        <th>Taivutus</th>
        <tr>
            <td>{{ question.lemma }}</td>
            <td>{{ question.definition}}</td>
        </tr>
        <th><label for="answer">Vastaus</label></th>
        <tr>
            <td colspan="2">
                <form action="/answer/{{question.id}}" method="POST" target="frame" autocomplete="off">
                    <input type="text" id="answer" name="answer" key={{question.id}}>
                    <input type="submit" value="Tarkista">
                    <input type="hidden" name="correct" value="{{question.inflection}}">
                    <input type="hidden" name="course" value="{{question.course_id}}">
                    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                </form>
            </td>
        </tr>
    </table>
</div>

{% endblock %}