{% extends "layout.html" %}
{% block title %}Rekisteröidy{% endblock %}
{% block content %}

<h1>Rekisteröidy</h1>
<form action="/register" method="POST">
    <p>
        <label for="first-name">Etunimi</label><br>
        <input type="text" id="first-name" name="first-name" minlength="2" maxlength="50">
    </p>
    <p>
        <label for="last-name">Sukunimi</label><br>
        <input type="text" id="last-name" name="last-name" minlength="2" maxlength="50">
    </p>
    <p>
        <label for="username">Käyttäjätunnus</label><br>
        <input type="text" id="username" name="username" minlength="4" maxlength="20">
    </p>
    <p>
        <label for="password1">Salasana</label><br>
        <input type="password" id="password1" name="password1" minlength="7" maxlength="20">
    </p>
    <p>
        <label for="password2">Salasana uudestaan</label><br>
        <input type="password" id="password2" name="password2" minlength="7" maxlength="20">
    </p>
    <input type="submit" value="Rekisteröidy">
</form>

{% endblock %}